In [63]:
import pandas as pd
import matplotlib.pyplot as plt

In [84]:
df = pd.read_csv('posicao-de-estoque-csv.csv', sep = ';', encoding='cp1252')
df.head()

                                             Produto Qtd Estoque Atual
0  ÁCIDO URSODESOXICÓLICO 300 MG COMPRIMIDO ELENC...             2.680
1                    ACITRETINA 10 MG CAP GRUPO 1.B              2.400
2                    ACITRETINA 25 MG CAP GRUPO 1.B              6.220
3                  ALFADORNASE 2,5 MG AMP GRUPO 1.B              1.044
4                  AMANTADINA 100 MG COMP GRUPO 1.B             16.720

In [114]:
df.columns = ['Produto', 'Estoque']

df.count()

Produto    131
Estoque    131
dtype: int64

In [115]:
df

                                               Produto    Estoque
0    ÁCIDO URSODESOXICÓLICO 300 MG COMPRIMIDO ELENC...      2.680
1                      ACITRETINA 10 MG CAP GRUPO 1.B       2.400
2                      ACITRETINA 25 MG CAP GRUPO 1.B       6.220
3                    ALFADORNASE 2,5 MG AMP GRUPO 1.B       1.044
4                    AMANTADINA 100 MG COMP GRUPO 1.B      16.720
..                                                 ...        ...
126  TRIPTORRELINA 3,75 MG SUSP INJ (FR-AMP) GRUPO ...        138
127                   VIGABATRINA 500 MG COMP GRUPO 2       2.550
128        ZIPRASIDONA 40 MG CÁPSULA  ELENCO ESTADUAL       1.470
129        ZIPRASIDONA 80 MG CÁPSULA  ELENCO ESTADUAL       2.940
130                                              Total  1.309.810

[131 rows x 2 columns]

In [132]:
df[df['Produto'].str.contains("ZIPRA")]

                                         Produto Estoque
128  ZIPRASIDONA 40 MG CÁPSULA  ELENCO ESTADUAL    1.470
129  ZIPRASIDONA 80 MG CÁPSULA  ELENCO ESTADUAL    2.940